﻿/*
Description:
		1 - Including files ("fonts.css", "reset.css" and others)
		2 - Tags styles and General styles
		3 - header
		4 - .content
		5 - footer
		* - @media rules
*/

/* 1 - BEGIN of Including files ("fonts.css", "reset.css" and others) ---------------------------------------------------------- */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.eot');
    src: url('fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
        url('fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Bold.eot');
    src: url('fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto/Roboto-Bold.woff') format('woff'),
        url('fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
        url('fonts/Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Regular.eot');
    src: url('fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
        url('fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'),
        url('fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Bold.eot');
    src: url('fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
        url('fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'),
        url('fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon/icomoon.eot?tj5zk3');
  src:  url('fonts/icomoon/icomoon.eot?tj5zk3#iefix') format('embedded-opentype'),
    url('fonts/icomoon/icomoon.ttf?tj5zk3') format('truetype'),
    url('fonts/icomoon/icomoon.woff?tj5zk3') format('woff'),
    url('fonts/icomoon/icomoon.svg?tj5zk3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-dessert:before {
  content: "\e902";
}
.icon-dobavki:before {
  content: "\e903";
}
.icon-drink:before {
  content: "\e904";
}
.icon-flamp:before {
  content: "\e905";
}
.icon-insta:before {
  content: "\e906";
}
.icon-italian-sauce:before {
  content: "\e907";
}
.icon-medal:before {
  content: "\e908";
}
.icon-novelties:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-rolls:before {
  content: "\e90b";
}
.icon-rubl:before {
  content: "\e90c";
}
.icon-sashimi:before {
  content: "\e90d";
}
.icon-sets:before {
  content: "\e90e";
}
.icon-sticker:before {
  content: "\e90f";
}
.icon-sush-2:before {
  content: "\e910";
}
.icon-sushi:before {
  content: "\e911";
}
.icon-sushi-3:before {
  content: "\e912";
}
.icon-sushi-4:before {
  content: "\e913";
}
.icon-sushi-5:before {
  content: "\e914";
}
.icon-sushi-6:before {
  content: "\e915";
}
.icon-tempura:before {
  content: "\e916";
}
.icon-vk:before {
  content: "\e917";
}

/* BEGIN of CSS RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

/* END of CSS RESET */

/* 1 - END of Including files ("fonts.css", "reset.css" and others) ---------------------------------------------------------- */
/* 2 - BEGIN of Tags and General styles ---------------------------------------------------------- */

body {
	min-height: 500px;
	margin: 0 auto;
	font-family: 'OpenSans', sans-serif;
	font-weight: normal;
	color: #272b2e;
}

h1 {
	font-size: 25px;
	font-weight: bold;
}

h2 {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color: #8e8e8e;
}

h3 {
	font-size: 22px;
	font-weight: bold;
}


h4 {
	font-size: 22px;
	font-weight: bold;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

a {
	text-decoration: none;
	outline: none;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

a:hover {
	opacity: 0.7;
	text-decoration: none;
	color: inherit;
	outline: none;
}

a:active {
	opacity: 0.6;
	outline: none;
	color: inherit;
	text-decoration: none;
}

a:focus {
	outline: none;
	color: inherit;
	text-decoration: none;
}

button, input, textarea, select {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

button:hover, input:hover, textarea:hover, select:hover {
	opacity: 0.8;
}

strong {
	font-weight: 700;
}

em {
	font-style:italic;
}

img {
	max-width: 100%;
}

.clear:before, .clear:after {
	content: "";
	display: block;
	clear: both;
}

.hide, .hidden {
	display: none;
}

.content-wrapper {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.alignleft, img.alignleft {
	float: left;
	display: block;
	margin: 0 5px 0 0;
}

.alignright, img.alignright {
	float: right;
	display: block;
	margin: 0 0 0 5px;
}

.aligncenter, img.aligncenter {
	float: none;
	display: block;
	margin: 0 auto 0;
}

.alignnone, img.alignnone {
	margin: 0 0 0;
	display: block;
}

/* 2 - END of Tags styles and General styles ---------------------------------------------------------- */
/* 3 - BEGIN of header ---------------------------------------------------------- */
.header-menu {
    padding: 26px 0;
}

.header-menu ul {
	list-style: none;
}

.header-menu ul > li {
	display: inline-block;
}

.header-menu ul > li > a {
	font-size: 18px;
	color: #272b2e;
}

.header-info__wrapper {
	padding-bottom: 20px;
	border-bottom: 1px solid #D4D4D4;
}

.justify-align {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.logo {
	display: block;
}

.logo img {
	width: 91px;
}

.header-info__title {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: bold;
}

.color-orange {
	color: #ff5a00;
}

.header-info__tel a {
	display: block;
	font-size: 30px;
	font-weight: bold;
	color: #272b2e;
}

.header-info__tel span {
	font-size: 18px;
}

.soc-btn {
	list-style: none;
}

.soc-btn li {
	display: inline-block;
	margin-right: 10px;
}

.soc-btn li a {
    display: inline-block;
    width: 47px;
    height: 47px;
    line-height: 51px;
    text-align: center;
    color: #959595;
    border: 1px solid #A7A7A7;
    border-radius: 50%;
}

.icon-vk {
    position: relative;
    top: 1px;
    font-size: 17px;
}

.icon-flamp {
	position: relative;
    top: 1px;
	font-size: 20px;
}

.icon-insta {
    position: relative;
    top: 2px;
    font-size: 24px;
}

.soc-btn li:last-child {
	margin-right: 0;
}

.cart {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	--ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 195px;
	height: 69px;
	border: 1px solid #FF5A00;
	border-radius: 30px;
}

.icon-cart {
    position: relative;
    display: inline-block;
    font-size: 22px;
    vertical-align: middle;
}

.icon-cart > span {
	position: absolute;
	right: -3px;
	top: -3px;
	width: 13px;
	height: 13px;
	line-height: 13px;
	font-size: 8px;
	color: #fff;
	font-weight: bold;
	font-family: "Roboto";
	text-align: center;
	background: #FF5A00;
	border-radius: 50%;
}

.cart-top a {
	color: #272b2e;
}

.cart-top a > span {
    padding: 0 0 0 5px;
    font-size: 20px;
    font-family: "Roboto";
    vertical-align: middle;
}

.cart-price {
	font-size: 25px;
	font-family: "Roboto";
}

.cart-price .icon-rubl {
    position: relative;
    top: -2px;
    font-size: 18px;
}

/* 3 - END of header ---------------------------------------------------------- */
/* 4 - BEGIN of .content ---------------------------------------------------------- */

.content {
	min-height: 200px;
}

.top-slider {
    padding: 0 0 61px;
}

.header-fixed .top-slider {
	display: none;
}

.top-slider__item {
	padding: 50px 0 0;
}

.top-slider__img {
    padding: 0 0 0 10px;
}

.top-slider__text {
    padding: 60px 0 0;
}

.top-slider__text p {
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.top-slider__info {
    margin-top: 50px;
}

.top-slider__info .btn {
    position: relative;
    left: 8px;
    height: 56px;
    line-height: 56px;
    padding: 0 30px;
}

.top-slider__price {
    padding: 0 0 0 15px;
    font-size: 32px;
}

.top-slider__price .icon-rubl {
	position: relative;
	top: -2px;
    font-size: 24px;
    vertical-align: middle;
}

.top-slider__price .color-gray {
    position: relative;
    top: -4px;
    font-size: 22px;
    vertical-align: middle;
}

.color-gray {
	color: #8e8e8e;
}

.slick-slide {
	outline: none;
}

.slick-dots {
    bottom: 3px;
    text-align: left;
}

.slick-dots li {
    margin: 0 15px 0 0;
}

.slick-dots li button {
	width: 13px;
	height: 13px;
	padding: 3px;
	border: none;
	background: #d4d4d4;
	border-radius: 50%;
}

.slick-dots li.slick-active button {
	background: #8e8e8e;
}

.slick-dots li button:before {
	content: "";
}

.top-slider .slick-dots li button {
	background: #d4d4d4;
}

.top-slider .slick-dots li.slick-active button {
	background: #8e8e8e;
}

.container + .main-menu__wrapper {
    margin: 20px 0 0;
    border-top: 1px solid #DFDFDF;
}

.container + .header-fixed.main-menu__wrapper {
    margin: 0;
    border-top: 0;
    padding: 10px 0;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.18);
}

.header-fixed .main-menu {
    padding: 0;
}

.header-fixed {
	position: fixed;
	z-index: 60;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	background: #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: position 10s;
	-ms-transition: position 10s;
	-o-transition: position 10s;
	transition: all 0.5s ease;
	padding: 10px 0;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.18);
}

.main-menu {
    padding: 20px 0 20px;
}

.main-menu ul {
	list-style: none;
}

.main-menu ul > li > a {
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	color: #8e8e8e;
	font-weight: bold;
}

.main-menu ul > li.active > a {
	color: #272b2e;
}

.inner .main-menu ul > li > a, .header-fixed .main-menu ul > li > a {
	padding: 0 30px;
	height: 47px;
	line-height: 47px;
	border: 1px solid transparent;
	border-radius: 30px;
}

.inner .main-menu ul > li.active > a, .header-fixed .main-menu ul > li.active > a {
	border-color: #D4D4D4;
}

.header-fixed .main-menu span.main-menu__icon {
	display: none;
}

span.main-menu__icon {
    display: block;
    margin-bottom: 30px;
    height: 74px;
    line-height: 70px;
    text-align: center;
}

span.main-menu__icon i {
    display: inline-block;
    vertical-align: bottom;
    font-size: 54px;
}

span.main-menu__icon i::before {
    color: #B0B0B0;
}

.main-menu__icon img {
	display: inline-block;
	vertical-align: bottom;
	max-width: 50px;
}

.icon-tempura__img {
	position: relative;
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: bottom;
}

.icon-tempura__img::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	background: url(img/icons/tempura.svg) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.baner {
    margin: 78px 0 30px;
}

.icon-box {
    padding: 52px 0 30px;
}

.icon-box__item {
	--ms-align-items: flex-start;
	align-items: flex-start;
}

.icon-box__icon span {
    font-size: 77px;
}

.icon-box__icon >span::before {
	color: #ff5a00;
}

.icon-box__text {
    padding: 0 0 0 20px;
    font-family: "OpenSans" !important;
}

.icon-box__text h4 {
    margin: 0 0 13px;
}

.icon-box__text p {
	font-size: 16px;
	color: #8e8e8e;
}

.icon-box__icon span.icon-medal {
    margin: 0 -14px 0 0;
}

.news-box {
    margin: 85px 0 0;
    padding: 0 0 0;
    border: 2px solid #FF5A00;
}

.news-box__wrapper {
    padding: 35px 32px 56px;
}

.news-box h2 {
    position: relative;
    top: -18px;
    text-align: center;
}

.news-box h2 span {
	display: inline-block;
	padding: 0 20px;
	background: #fff;
}

.news-box__text {
    position: relative;
    top: -2px;
}

.news-box__text h4 {
	margin: 0 0 10px;
}

.news-box__date {
	display: inline-block;
	margin-bottom: 26px;
	font-size: 16px;
	color: #8e8e8e;
}

.news-box__text p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 20px;
}

.read-more {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #272b2e;
}

.btn.btn-transparent {
	display: block;
	max-width: 170px;
	background-color: transparent;
	color: #8e8e8e;
	border-color: #8e8e8e;
	box-shadow: none;
}

.btn.btn-transparent:hover, .btn.btn-transparent:focus {
	color: #8e8e8e;
}

.news-box__text .btn {
	margin-top: 40px;
}

.text-box {
    margin: 83px 0 0;
    padding: 0 80px;
}

.text-box h4 {
    margin: 0 0 37px;
}

.text-box p {
    margin: 0 0 28px;
}

.subscription-box {
    margin: 84px 0 0;
    padding: 40px 63px 38px;
    border: 2px solid #D4D4D4;
}

.subscription-box h2 {
    margin-bottom: 18px;
    color: #272b2e;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 30px;
    cursor: pointer;
    font-size: 16px;
}

input[type="checkbox"] + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #D4D4D4;
}

input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 8px;
    top: 8px;
    left: 3px;
    margin: 0 auto;
    background: url(img/checkbox-ic.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.subscription-box__form {
    width: 450px;
}

.subscription-box__form input {
	width: 245px;
	height: 43px;
	line-height: 43px;
	border: none;
	border-bottom: 1px solid #D4D4D4;
}

.subscription-box__form input:focus {
	outline: none;
}

*::-webkit-input-placeholder {
	font-size: 16px;
	color: #8e8e8e;
	text-indent: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

*:-moz-placeholder {
	font-size: 16px;
	color: #8e8e8e;
	text-indent: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

*::-moz-placeholder {
	font-size: 16px;
	color: #8e8e8e;
	text-indent: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

*:-ms-input-placeholder {
	font-size: 16px;
	color: #8e8e8e;
	text-indent: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

*:focus::-webkit-input-placeholder {
	color: #1b2030;
	text-indent: 620px;
	opacity: 0;
}

*:focus::-moz-placeholder {
	color: #1b2030;
	text-indent: 620px;
	opacity: 0;
}

*:focus:-moz-placeholder {
	color: #1b2030;
	text-indent: 620px;
	opacity: 0;
}

*:focus:-ms-input-placeholder {
	color: #1b2030;
	text-indent: 620px;
	opacity: 0;
}

textarea:focus::-webkit-input-placeholder {
	text-indent: 0;
}

textarea:focus::-moz-placeholder {
	text-indent: 0;
}

textarea:focus:-moz-placeholder {
	text-indent: 0;
}

textarea:focus:-ms-input-placeholder {
	text-indent: 0;
}

.product-box {
    margin-top: 60px;
}

.product-item {
	height: 484px;
	margin-bottom: 50px;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(204,204,204,0.36);
	-moz-box-shadow: 0px 5px 10px 2px rgba(204,204,204,0.36);
	box-shadow: 0px 5px 10px 2px rgba(204,204,204,0.36);
}

.product-item__img {
	height: 238px;
}

.product-item__img img {
	display: block;
	margin: 0 auto;
}

.product-item__info {
    position: relative;
    padding: 17px 0 0;
    margin: 0 30px;
    height: 160px;
    border-bottom: 1px solid #EEEEEE;
}

.product-item h4 {
    margin: 0 0 4px;
}

.product-item h4 a {
	color: #272b2e;
}

.product-item__weight {
    display: block;
    margin: 0 0 2px;
    font-size: 16px;
    color: #8e8e8e;
}

.product-item p {
	font-size: 16px;
}

.product-item__bottom {
	height: 80px;
	padding: 0 30px;
}

.product-item__price {
	font-size: 22px;
	font-family: "Roboto";
}

.product-item__price .icon-rubl {
    position: relative;
    top: -1px;
    font-size: 16px;
}

.btn {
	height: 43px;
	line-height: 43px;
	padding: 0 35px;
	text-align: center;
	border: 1px solid transparent;
	outline: none;
	background: #ff5a00;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 3px 15px 2px rgba(255,90,0,0.5);
	-moz-box-shadow: 0px 3px 15px 2px rgba(255,90,0,0.5);
	box-shadow: 0px 3px 15px 2px rgba(255,90,0,0.5);
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:hover, .btn:focus {
    color: #fff;
    outline: none !important;
}

.btn-orange__transparent {
	color: #ff5a00;
	border-color: #ff5a00;
	background: transparent;
	box-shadow: none;
}

.btn-orange__transparent:hover {
	background: #ff5a00;
	color: #fff;
	-webkit-box-shadow: 0px 3px 15px 2px rgba(255,90,0,0.5);
	-moz-box-shadow: 0px 3px 15px 2px rgba(255,90,0,0.5);
	box-shadow: 0px 3px 15px 2px rgba(255,90,0,0.5);
}

.btn-orange__transparent:focus {
	color: #ff5a00;
}

.plus-minus {
	max-width: 124px;
}

.plus-minus button {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	outline: none;
	border: 1px solid #8E8E8E;
	background-color: transparent;
	border-radius: 50%;
}

.plus-minus button span {
	display: inline-block;
	line-height: normal;
	font-size: 22px;
	color: #8e8e8e;
	font-weight: bold;
	font-family: "Roboto";
}

.plus-minus button:hover {
	opacity: 1;
	border-color: #ff5a00;
}

.plus-minus button:hover span {
	color: #ff5a00;
}

.plus-minus input {
	display: inline-block;
	max-width: 35px;
	text-align: center;
	border: none;
	background-color: transparent;
	font-size: 22px;
	color: #8e8e8e;
	font-weight: bold;
	font-family: "Roboto";
	outline: none;
}

.product-modal {
	display: none;
}

.fancybox-content {
    overflow: visible;
    padding: 0;
    background: transparent;
}

.product-modal .row {
	margin-right: 0;
	margin-left: 0;
}

.product-modal [class^="col"] {
	padding-left: 0;
	padding-right: 0;
}

.product-modal__img img {
	display: block;
}

.product-modal__info {
    padding: 48px 65px 10px;
    height: 100%;
    background: #fff;
}

.row.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.product-modal__info h4 {
    margin-bottom: 20px;
}

.product-price {
    margin-bottom: 15px;
    justify-content: flex-start;
}

.product-price > strong {
	padding: 0 30px 0 0;
	font-size: 22px;
	font-family: "Roboto";
}

.product-price > strong .icon-rubl {
    position: relative;
    top: -2px;
    font-size: 16px;
}

.product-modal__weight {
	padding: 0 30px 0 0;
	font-size: 16px;
	font-weight: bold;
	font-family: "Roboto";
	color: #8e8e8e;
}

.product-price .btn {
	line-height: 40px;
}

.product-modal__info p {
    font-size: 16px;
    margin-bottom: 15px;
}

.product-modal__info p:last-of-type {
	margin-bottom: 0;
}

.fancybox-close-small {
    right: 25px;
    top: 0;
    width: 80px;
}

.fancybox-close-small svg {
    stroke-width: 0.6;
}

.cart-box__item {
    margin-bottom: 22px;
}

.cart-box {
    margin: 39px 0 0;
    max-width: 776px;
}

.cart-box h2 {
    margin: 0 0 33px;
    font-size: 25px;
    font-weight: bold;
    color: #272b2e;
    text-transform: none;
}

.cart-box h2 + h6 {
    position: relative;
    top: -30px;
}

.cart-box__img {
	width: 25%;
}

.cart-box__info {
	position: relative;
    width: 72%;
    min-height: 132px;
}

.cart-box__info::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -9px;
	width: 100%;
	height: 1px;
	background: #D4D4D4;
}

.cart-box .cart-box__item:last-of-type .cart-box__info::after {
	display: none;
}

strong.cart-title {
    width: 30%;
    font-size: 22px;
}

strong.cart-box__price {
	font-size: 22px;
}

strong.cart-box__price .icon-rubl {
	position: relative;
	top: -1px;
	font-size: 16px;
}

.cart-box__clear {
	display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    outline: none;
    border: 1px solid #8E8E8E;
    background-color: transparent;
    border-radius: 50%;
}

.cart-box__clear:hover {
	border-color: #ff5a00;
	opacity: 1;
}

.cart-box__clear:hover span {
	color: #ff5a00;
}

.cart-box__total {
    max-width: 776px;
    margin: 31px 0 0;
    padding: 27px 0 0;
    border-top: 1px solid #D4D4D4;
    text-align: right;
    font-family: "Roboto";
    font-size: 22px;
}

.cart-box__total .icon-rubl {
	position: relative;
	top: -1px;
	font-size: 16px;
}

.delivery-box {
    margin: 36px 0 0;
}

.delivery-box h2 {
	font-size: 25px;
    font-weight: bold;
    color: #272b2e;
    text-transform: none;
}

form.delivery-form {
    margin: 30px 0 0;
    max-width: 776px;
    padding: 42px 46px;
    border: 2px solid #FF5A00;
}

.delivery-form__item {
    margin: 0 0 24px;
}

.delivery-form__item label {
    position: relative;
    display: block;
    margin: 0 0 -5px;
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
}

.delivery-form__item label .color-orange {
    display: inline-block;
    padding: 0 0 0 5px;
    vertical-align: sub;
}

.delivery-form__item input {
    width: 100%;
    height: 43px;
    line-height: 43px;
    border: none;
    border-bottom: 1px solid #D4D4D4;
    outline: none;
}

.delivery-form__item input.error {
	color: #fe0000;
	border-color: #fe0000;
}

.valid-input {
	position: relative;
}

.valid-input::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 10px;
	width: 19px;
	height: 14px;
	background: url(img/valid-ic.png);
}

.delivery-form__item textarea {
    width: 100%;
    height: 126px;
    padding: 12px 0 0;
    border: none;
    border-bottom: 1px solid #D4D4D4;
    outline: none;
    resize: none;
}

.delivery-form .btn {
	font-size: 22px;
	height: 53px;
	line-height: 52px;
}

.delivery-form__item--street input {
	max-width: 180px;
}

.delivery-form__item--house input {
	max-width: 96px;
}

.delivery-form [class^="col"] > .justify-align {
	position: relative;
	top: 4px;
}

.delivery-form [class^="col"] > .justify-align .delivery-form__item {
	height: 64px;
}

.delivery-form__item--width {
	max-width: 144px;
}

.radio-list {
    margin: 11px 0 0;
    list-style: none;
}

.radio-list li {
    display: inline-block;
    margin: 0 20px 0 0;
}

.radio-list li:last-child {
	margin: 0;
}

.radio-list [type="radio"]:checked,
.radio-list [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.radio-list [type="radio"]:checked + label, .radio-list [type="radio"]:not(:checked) + label {
	position: relative;
	margin: 0;
	padding: 0 0 0 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.radio-list [type="radio"]:checked + label:before, .radio-list [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 19px;
    height: 19px;
    border: 1px solid #919191;
    border-radius: 100%;
    background: #fff;
}

.radio-list [type="radio"]:checked + label:before {
	border-color: #ff5a00;
}

.radio-list [type="radio"]:checked + label:after, .radio-list [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 9px;
    height: 9px;
    background: #ff5a00;
    position: absolute;
    top: 7px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radio-list [type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.radio-list [type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.delivery-form *::-webkit-input-placeholder {
	font-size: 18px;
}

.delivery-form *:-moz-placeholder {
	font-size: 18px;
}

.delivery-form *::-moz-placeholder {
	font-size: 18px;
}

.delivery-form *:-ms-input-placeholder {
	font-size: 18px;
}

.sidebar {
    padding: 38px 0 0;
}

.sidebar h2 {
	font-size: 25px;
    font-weight: bold;
    color: #272b2e;
    text-transform: none;
    text-align: center;
}

.sidebar-slider__box {
    position: relative;
    margin: 29px 0 70px;
}

.sidebar h6 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.sidebar-slider__box h6 {
	margin: 0 0 20px;
}

.sidebar-slider {
	-webkit-box-shadow: 0px 5px 10px 2px rgba(204,204,204,0.36);
    -moz-box-shadow: 0px 5px 10px 2px rgba(204,204,204,0.36);
    box-shadow: 0px 5px 10px 2px rgba(204,204,204,0.36);
}

.sidebar-slider__item {
	padding-bottom: 50px;
	text-align: center;
}

.sidebar-slider__item img {
	margin: 0 auto 30px;
}

.slider__item--name {
	font-size: 18px;
	font-weight: bold;
}

.slider__item--price {
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: bold;
}

.sidebar-slider .slick-dots {
    text-align: center;
    bottom: -42px;
}

.sidebar-slider .slick-dots li {
	margin-right: 0;
}

.sidebar-slider .slick-dots li button {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 1px solid #D6D6D6;
}

.sidebar-slider .slick-dots li.slick-active button {
	border-color: #939393;
}

.sidebar-slider__btn {
	position: absolute;
	bottom: -40px;
	left: 0;
	right: 0;
	max-width: 150px;
	margin: 0 auto;
}

.sidebar-slider__btn button {
    background-color: transparent;
    outline: none;
    border: none;
    font-family: serif;
    font-size: 20px;
    color: #9D9D9D;
    transform: scale(1, 2);
    font-weight: 100;
}

section h1 {
	position: relative;
	text-align: center;
}

section h1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background: #E2E2E2;
}

section h1 span {
	position: relative;
	display: inline-block;
	padding: 0 10px;
	background: #fff;
	z-index: 10;
}

.breadcrumbs {
    margin: 34px 0 0 0;
    padding-bottom: 12px;
    list-style: none;
    text-align: center;
}

.breadcrumbs li {
	display: inline-block;
	margin-right: -0.03em;
	color: #8e8e8e;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

.breadcrumbs li + li::before {
    content: "/";
    padding: 0 8px 0 3px;
    font-size: 16px;
}

.breadcrumbs a {
	position: relative;
	color: #272b2e;
}

.news-wrapper {
    max-width: 944px;
    margin: 45px auto 0;
}

.news-item {
	margin-bottom: 25px;
	--ms-align-items: flex-start;
	align-items: flex-start;
}

.news-item__img {
	width: 480px;
}

.news-item__text {
    padding: 27px 0 0;
    width: 390px;
}

.news-item__text h4 {
    margin: 0 0 4px;
}

.news-item__date {
    display: inline-block;
    margin: 0 0 22px;
    font-size: 16px;
    color: #8e8e8e;
}

.news-item__text p {
    margin: 0 0 27px;
    font-size: 16px;
    line-height: 19px;
}

.news-item__text .read-more {
	border-bottom: 1px solid;
}

.pagination-list {
    margin: 50px 0 0;
    list-style: none;
    text-align: center;
}

.pagination-list li {
	display: inline-block;
	vertical-align: middle;
}

.pagination-list li a {
	display: block;
	width: 39px;
	height: 39px;
	line-height: 36px;
	border: 1px solid transparent;
	font-size: 22px;
	color: #8E8E8E;
	border-radius: 50%;
}

.pagination-list li a img {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
}

.pagination-list li.active a {
	border-color: #272B2E;
	color: #272B2E;
}

article {
    max-width: 750px;
    margin: 30px auto 0;
}

.article-date {
    display: block;
    margin: 37px 0 17px;
    font-size: 16px;
    color: #8e8e8e;
}

article h3 {
    margin-bottom: 19px;
}

article p {
    margin-bottom: 19px;
    font-size: 16px;
    line-height: 19px;
}

.blockquote-border {
    margin: 40px 0 0;
    padding: 40px 70px;
    border: 1px solid #D4D4D4;
}

.blockquote-border__text {
	font-size: 16px;
}

.blockquote-border__author {
	display: block;
	text-align: right;
	color: #8e8e8e;
	font-size: 16px;
}

.blockquote-info {
    max-width: 602px;
    padding: 0 0 0 30px;
    margin: 40px auto 0;
    border-left: 2px solid #D4D4D4;
}

.blockquote-info p {
    font-size: 16px;
    margin-bottom: 20px;
}

.article-img__box {
    margin: 45px 0 36px;
    --ms-align-items: flex-start;
    align-items: flex-start;
}

.marker-list, .nubers-list {
	list-style: none;
}

.marker-list li, .nubers-list li {
    position: relative;
    padding: 0 0 0 30px;
    font-size: 16px;
    margin-bottom: 15px;
}

.marker-list li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 6px;
	width: 10px;
	height: 10px;
	background: #ff5a00;
	border-radius: 50%;
}

.nubers-list {
    counter-reset: num;
}

.nubers-list li {
	padding: 0 0 0 20px;
}
 
.nubers-list > li::before {
    content: counter(num) '. ';
    position: absolute;
    left: 0;
    top: 0;
    counter-increment: num;
    font-size: 16px;
}

.arrow-article {
    margin: 24px 0 -84px;
    padding: 38px 0;
    border-top: 1px solid #D4D4D4;
}

.arrow-article__box {
	position: relative;
	padding: 0 0 0 50px;
}

.arrow-article__btn {
    position: absolute;
    left: 0;
    top: 10%;
    display: block;
    text-align: center;
    width: 38px;
    height: 38px;
    line-height: 34px;
    border: 1px solid #969696;
    border-radius: 50%;
}

.arrow-article__btn img {
	display: inline-block;
	vertical-align: middle;
}

.arrow-article__box > span {
	display: block;
	font-size: 16px;
	color: #8e8e8e;
}

.arrow-article__news {
	font-size: 16px;
	font-weight: bold;
	color: #272b2e;
}

.arrow-article__next {
    text-align: right;
    padding: 0 50px 0 0;
}

.arrow-article__next .arrow-article__btn {
	left: auto;
	right: 0;
}

/* 4 - END of .content ---------------------------------------------------------- */
.fancybox-button {
    background: transparent;
}

.fancybox-button svg {
	display: none;
}

.fancybox-button--arrow_left, .fancybox-button--arrow_right {
	position: relative;
}

.fancybox-button--arrow_left::before, .fancybox-button--arrow_right::before {
	content: '';
	display: block;
	width: 22px;
	height: 38px;
}

.fancybox-button--arrow_left::before {
	background: url(img/prev-fansy.png);
}

.fancybox-button--arrow_right::before {
	background: url(img/next-fansy.png);
}

.fancybox-navigation .fancybox-button {
    padding: 0;
   	width: 40px;
	height: 40px;
}

.fancybox-button.disabled::before {
	opacity: 0.6;
}

.fancybox-navigation .fancybox-button--arrow_left {
    left: 15px;
}

.fancybox-navigation .fancybox-button--arrow_right {
    right: 15px;
}
/* 5 - BEGIN of footer ---------------------------------------------------------- */

footer {
    margin-top: 55px;
    padding: 50px 0 50px;
    border-top: 1px solid #D4D4D4;
}

.footer-title {
    margin: 0 0 10px;
    font-size: 22px;
    line-height: 27px;
    font-weight: bold;
}

.footer-tel {
    display: inline-block;
    margin: 0 0 14px;
    font-weight: bold;
    font-size: 30px;
    color: #272b2e;
}

.footer-info__list {
	list-style: none;
}

footer p {
	font-size: 14px;
	color: #8e8e8e;
}

.footer-links {
    margin: 0 0 30px;
    list-style: none;
}

.footer-links li {
    margin: 0 0 7px;
}

.footer-links li a {
	font-size: 16px;
	color: #272b2e;
	text-decoration: underline;
}

.payment-system__list {
	list-style: none;
}

.payment-system__list li {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
}

.copyright {
	display: block;
	margin-bottom: 10px;
}


/* 5 - END of footer ---------------------------------------------------------- */
.modal-dialog {
    width: 810px;
}

.modal-content {
    border-radius: 0;
    padding: 0 90px 90px;
}

.modal-dialog .user-form {
	margin: 0;
	text-align: center;
}

.modal-header {
	padding: 15px 15px 50px;
    border-bottom: none;
}

.modal-header .close {
    position: absolute;
    right: 30px;
    top: 30px;
    margin-top: -2px;
    font-size: 30px;
    font-family: serif;
    font-weight: 100;
    color: #8E8E8E;
    opacity: 1;
}

.modal-logo {
	text-align: center;
}

.modal-logo img {
	max-width: 225px;
}

.modal-info {
	text-align: center;
}

.modal-info h2 {
    margin-bottom: 30px;
    color: #272b2e;
}

.modal-info p {
	margin-bottom: 30px;
	font-size: 22px;
}

.modal-info .btn {
	min-width: 148px;
}

/* * - BEGIN of @media ---------------------------------------------------------- */

@media screen and (max-width: 1199px) {
.header-info__title {
    font-size: 16px;
}	
.header-info__tel a {
    text-align: center;
    font-size: 24px;

}
.top-slider__text p {
    font-size: 24px;
    line-height: 30px;
}
.top-slider__price {
    font-size: 26px;
}
.top-slider__price .icon-rubl {
    font-size: 19px;
}
.top-slider__price .color-gray {
    font-size: 18px;
}
.inner .main-menu ul > li > a {
	font-size: 14px;
	padding: 0 15px;
    height: 30px;
    line-height: 30px;
}
.product-item__img {
    height: 190px;
}
.product-item__img img {
    width: 100%;
    max-height: 100%;
}
h4 {
	font-size: 18px;
}
.product-item h4 {
    font-size: 16px;
}
.product-item p {
    font-size: 14px;
}
.product-item p br {
	display: none;
}
.btn {
    padding: 0 20px;
}
.radio-list li {
    display: block;
    margin: 0 0 10px;
}
strong.cart-title {
    font-size: 18px;
}
.cart-box__img {
    width: 20%;
}
.cart-box__info {
    width: 78%;
}
.delivery-form__item--width {
    max-width: 130px;
}
}

/* ----------------------------------------------------------------------------------- */

@media screen and (max-width: 991px) {
.header-menu ul > li > a {
    font-size: 14px;
}	
.logo {
    max-width: 60px;
}
.soc-btn li {
    margin-right: 2px;
}
.soc-btn li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.icon-vk {
    position: relative;
    top: -1px;
    font-size: 11px;
}
.icon-flamp, .icon-insta {
	top: 0;
    font-size: 15px;
}
.header-info__tel a {
    font-size: 18px;
}
.header-info__tel span {
    font-size: 14px;
}
.cart {
    width: 150px;
}
.cart-price {
    font-size: 18px;
}
.cart-price .icon-rubl {
    font-size: 13px;
}
.cart-top a > span {
    font-size: 16px;
}
.header-info__title {
    font-size: 14px;
}
.top-slider__text {
    padding: 30px 0 0;
}
.top-slider__text p {
    font-size: 18px;
    line-height: 26px;
}
.top-slider__info {
    display: block;
    margin-top: 30px;
}
.top-slider__price {
    padding: 20px 0 0;
    font-size: 20px;
    display: block;
}
.top-slider__price .icon-rubl {
    font-size: 15px;
}
.main-menu ul > li > a {
    font-size: 16px;
}
span.main-menu__icon {
    height: 60px;
}
span.main-menu__icon i {
    font-size: 40px;
}
.icon-tempura__img {
    width: 40px;
    height: 40px;
}
.icon-tempura__img::before {
    width: 40px;
    height: 40px;
}
.baner {
    margin: 30px 0 30px;
}
.icon-box__icon span {
    font-size: 50px;
}
.news-box {
    margin: 50px 0 0;
}
.text-box {
    margin: 50px 0 0;
}
.subscription-box {
    margin: 30px 0 0;
}
.subscription-box h2 {
    text-align: center;
}
.subscription-box > .justify-align {
    flex-direction: column-reverse;
}
.subscription-box__form input {
    width: 200px;
}
.subscription-box__check {
    padding: 20px 0 0;
}
.text-box {
    padding: 0;
}
footer {
    text-align: center;
}
.footer-title br {
	display: none;
}
.product-box {
    margin-top: 30px;
}
.product-item {
	max-width: 294px;
	margin: 0 auto 30px;
}
form.delivery-form {
    position: relative;
    padding: 30px 30px 100px;
}
.delivery-form [class^="col"] {
	position: static;
}
.delivery-form .btn {
    position: absolute;
    bottom: 25px;
    left: 30px;
}
.delivery-form [class^="col"] > .justify-align .delivery-form__item {
    width: 45%;
}
.delivery-form__item--house input {
    max-width: none;
}
.delivery-form__item--street input {
    max-width: none;
}
.delivery-form__item--width {
    max-width: none;
}
.news-item__text {
    padding: 27px 0 0 30px;
    width: 70%;
}
.news-item__img {
    width: 30%;
}
.article-img__box {
	margin-left: -10px;
	margin-right: -10px;
}
.article-img__box img {
	margin-left: 10px;
	margin-right: 10px;
}

}



/* ----------------------------------------------------------------------------------- */
/* * - END of @media ---------------------------------------------------------- */
